<div class="row">
	<div class ="col-xs-1">
		<a class="btn btn-default" [routerLink]="['/event-details', event.previous_id]">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
	<div class ="col-xs-1 col-xs-offset-10">
		<a class="btn btn-default pull-right" [routerLink]="['/event-details', event.next_id]">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</a>
	</div>
</div>
<div class="panel panel-default voffset2">
	<div class="panel-heading">{{ event.daterange | daterange }}</div>
	<div class="panel-body">{{ event.description }}</div>
</div>
<div *ngIf="related_events.length > 0" class="panel panel-default voffset2">
	<div class="panel-heading">Verwandte Ereignisse</div>
	
	<div class="panel-body">
		<div class="row" *ngFor="let related_event of related_events">
			<a [routerLink]="['/event-details', related_event._id]">
				<div class="col-xs-12 col-sm-3 col-md-2">
					{{ related_event.daterange | daterange }}
				</div>
			</a>
			<div class="col-xs-12 col-sm-3 col-md-10">{{related_event.description}}</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Verknüpfte Dokumente</div>
	<div class="panel-body">
		<div class="row voffset2" *ngFor="let row of document_rows">
			<div class="col-xs-12 col-md-4" *ngFor="let document of row">
				<a [routerLink]="['/document-details', document._id]">
					<img [src]="document.thumbnail">
				</a>
			</div>
		</div>
	</div>
</div>

